

<div class="container profile-container">
<div class="cards">
<div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/happy-tours/image/upload/v1636441361/development/images-12_cw6jjn.jpg)">
    Past events

  </div>
        <p> Booking from: October 22
        To: October 29
        </p>
</div>
<div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/happy-tours/image/upload/v1636375669/development/snbfwq49qxcehagivu9w8r8ol04c.jpg)">
    Current events
  </div>
        <p> Booking from: November 2
        To: November 14
        </p>
</div>
<div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/happy-tours/image/upload/v1636440747/development/images-6_caysjk.jpg)">
    Upcoming events
      </div>
       <p> Booking from: November 22
       To: December 17
       </p>
</div>
</div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at JaminaTech
  </div>
</div>
