<div class="container">
  <%# TABS  %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="past-tab" data-toggle="tab" href="#past" role="tab" aria-controls="past" aria-selected="true">Past
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="false">Current</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming</a>
    </li>
  </ul>
  <%# End of TABS %>



  <%# Tabs CONTENT %>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="past" role="tabpanel" aria-labelledby="past-tab">

      <div class="card-category mb-10 mt-10" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/happy-tours/image/upload/v1636441361/development/images-12_cw6jjn.jpg)">
        Past events
      </div>
      <main class="pb-8 pb-md-11 mt-md-n6">
        <div class="container-md">
          <div class="row">
            <div class="col-12 col-md-3">

              <!-- Card -->
              <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

                <!-- Collapse -->
                <div class="collapse d-md-block" id="sidenavCollapse">
                  <div class="card-body">

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase mb-3">
                      Account
                    </h6>
                      <div class="col-auto">

                          <!-- Avatar -->
                          <div class="avatar avatar-xl">
                            <img class="avatar-img rounded-circle" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                          </div>
                        </div>
                    <!-- List -->
                    <ul class="card-list list text-gray-700 mb-6">
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-general.html">
                          Personal information
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-security.html">
                          Contact information
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-notifications.html">
                          Notifications
                        </a>
                      </li>
                    </ul>

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase mb-3">
                      Billing
                    </h6>

                    <!-- List -->
                    <ul class="card-list list text-gray-700 mb-0">
                      <li class="list-item">
                        <a class="list-link text-reset" href="billing-plans-and-payment.html">
                          Plans &amp; Payment
                        </a>
                      </li>
                      <li class="list-item active">
                        <a class="list-link text-reset" href="billing-users.html">
                          Users
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-9">

              <!-- Card -->
              <div class="card card-bleed shadow-light-lg">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Heading -->
                      <h4 class="mb-0">
                        Your Trips
                      </h4>

                    </div>
                    <div class="col-auto">

                      <!-- Button -->

                      <%= link_to "Plan a trip", tours_path, class:"btn btn-xs btn-primary"%>

                    </div>
                  </div>
                </div>
                <div class="card-body">

                  <!-- List group -->
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <div class="row align-items-center">

                        <div class="col-6 ms-n5">

                          <!-- Heading -->
                          <p class="mb-0">
                            Al Ain
                          </p>

                          <!-- Text -->
                          <a class="d-block small text-truncate text-gray-700" href="mailto:ab.hadley@company.com">
                            Enjoy a scenic view with great company from the biggest ferris wheel in the world
                          </a>

                        </div>
                        <div class="col-auto ms-auto">

                          <!-- Select -->
                          <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="form-select form-select-xs"><select class="form-select form-select-xs form-control" data-choices="" hidden="" tabindex="-1" data-choice="active"><option value="UAE 50">Admin</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="UAE 50" data-custom-properties="null" aria-selected="true">AED 50</div></div></div><div class="choices__list dropdown-menu" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--65uq-item-choice-1" class="choices__item dropdown-item active choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="Admin" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">AED 50</div><div id="choices--65uq-item-choice-2" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="2" data-value="Staff" data-select-text="Press to select" data-choice-selectable="">Staff</div><div id="choices--65uq-item-choice-3" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="3" data-value="Custom" data-select-text="Press to select" data-choice-selectable="">Custom</div></div></div></div>

                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </main>
    </div>

    <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="current-tab">

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/happy-tours/image/upload/v1636375669/development/snbfwq49qxcehagivu9w8r8ol04c.jpg)">
        Current events
      </div>
      <main class="pb-8 pb-md-11 mt-md-n6">
        <div class="container-md">
          <div class="row">
            <div class="col-12 col-md-3">

              <!-- Card -->
              <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

                <!-- Collapse -->
                <div class="collapse d-md-block" id="sidenavCollapse">
                  <div class="card-body">

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase mb-3">
                      Account
                    </h6>

                 <!-- Avatar -->
                          <div class="avatar avatar-xl">
                            <img class="avatar-img rounded-circle" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                          </div>

                    <!-- List -->
                    <ul class="card-list list text-gray-700 mb-6">
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-general.html">
                          Personal information
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-security.html">
                          Contact information
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-notifications.html">
                          Notifications
                        </a>
                      </li>
                    </ul>

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase mb-3">
                      Billing
                    </h6>

                    <!-- List -->
                    <ul class="card-list list text-gray-700 mb-0">
                      <li class="list-item">
                        <a class="list-link text-reset" href="billing-plans-and-payment.html">
                          Plans &amp; Payment
                        </a>
                      </li>
                      <li class="list-item active">
                        <a class="list-link text-reset" href="billing-users.html">
                          Users
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-9">

              <!-- Card -->
              <div class="card card-bleed shadow-light-lg">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Heading -->
                      <h4 class="mb-0">
                        Your Trips
                      </h4>

                    </div>
                    <div class="col-auto">

                      <!-- Button -->
                     <%= link_to "Plan a trip", tours_path, class:"btn btn-xs btn-primary"%>

                    </div>
                  </div>
                </div>
                <div class="card-body">

                  <!-- List group -->
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col-auto">

                          <!-- Avatar -->
                          <div class="avatar avatar-xl">
                            <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-1.jpg" alt="...">
                          </div>

                        </div>
                        <div class="col-6 ms-n5">

                          <!-- Heading -->
                          <p class="mb-0">
                            Al Ain
                          </p>

                          <!-- Text -->
                          <a class="d-block small text-truncate text-gray-700" href="mailto:ab.hadley@company.com">
                            Enjoy a scenic view with great company from the biggest ferris wheel in the world
                          </a>

                        </div>
                        <div class="col-auto ms-auto">

                          <!-- Select -->
                          <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="form-select form-select-xs"><select class="form-select form-select-xs form-control" data-choices="" hidden="" tabindex="-1" data-choice="active"><option value="Admin">Admin</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="Admin" data-custom-properties="null" aria-selected="true">Admin</div></div></div><div class="choices__list dropdown-menu" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--65uq-item-choice-1" class="choices__item dropdown-item active choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="Admin" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Admin</div><div id="choices--65uq-item-choice-2" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="2" data-value="Staff" data-select-text="Press to select" data-choice-selectable="">Staff</div><div id="choices--65uq-item-choice-3" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="3" data-value="Custom" data-select-text="Press to select" data-choice-selectable="">Custom</div></div></div></div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </main>
    </div>

    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/happy-tours/image/upload/v1636440747/development/images-6_caysjk.jpg)">
        Upcoming events
      </div>
      <main class="pb-8 pb-md-11 mt-md-n6">
        <div class="container-md">
          <div class="row">
            <div class="col-12 col-md-3">

              <!-- Card -->
              <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">

                <!-- Collapse -->
                <div class="collapse d-md-block" id="sidenavCollapse">
                  <div class="card-body">

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase mb-3">
                      Account
                    </h6>
                      <!-- Avatar -->
                          <div class="avatar avatar-xl">
                            <img class="avatar-img rounded-circle" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                          </div>
                    <!-- List -->
                    <ul class="card-list list text-gray-700 mb-6">
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-general.html">
                          Personal information
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-security.html">
                          Contact information
                        </a>
                      </li>
                      <li class="list-item">
                        <a class="list-link text-reset" href="account-notifications.html">
                          Notifications
                        </a>
                      </li>
                    </ul>

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase mb-3">
                      Billing
                    </h6>

                    <!-- List -->
                    <ul class="card-list list text-gray-700 mb-0">
                      <li class="list-item">
                        <a class="list-link text-reset" href="billing-plans-and-payment.html">
                          Plans &amp; Payment
                        </a>
                      </li>
                      <li class="list-item active">
                        <a class="list-link text-reset" href="billing-users.html">
                          Users
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>

            </div>
            <div class="col-12 col-md-9">

              <!-- Card -->
              <div class="card card-bleed shadow-light-lg">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Heading -->
                      <h4 class="mb-0">
                        Your Trips
                      </h4>

                    </div>
                    <div class="col-auto">

                      <!-- Button -->
                    <%= link_to "Plan a trip", tours_path, class:"btn btn-xs btn-primary"%>

                    </div>
                  </div>
                </div>
                <div class="card-body">

                  <!-- List group -->
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col-auto">

                          <!-- Avatar -->
                          <div class="avatar avatar-xl">
                            <img class="avatar-img rounded-circle" src="assets/img/avatars/avatar-1.jpg" alt="...">
                          </div>

                        </div>
                        <div class="col-6 ms-n5">

                          <!-- Heading -->
                          <p class="mb-0">
                            Al Ain
                          </p>

                          <!-- Text -->
                          <a class="d-block small text-truncate text-gray-700" href="mailto:ab.hadley@company.com">
                            Enjoy a scenic view with great company from the biggest ferris wheel in the world
                          </a>

                        </div>
                        <div class="col-auto ms-auto">

                          <!-- Select -->
                          <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false"><div class="form-select form-select-xs"><select class="form-select form-select-xs form-control" data-choices="" hidden="" tabindex="-1" data-choice="active"><option value="Admin">Admin</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="Admin" data-custom-properties="null" aria-selected="true">Admin</div></div></div><div class="choices__list dropdown-menu" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--65uq-item-choice-1" class="choices__item dropdown-item active choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="Admin" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Admin</div><div id="choices--65uq-item-choice-2" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="2" data-value="Staff" data-select-text="Press to select" data-choice-selectable="">Staff</div><div id="choices--65uq-item-choice-3" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="3" data-value="Custom" data-select-text="Press to select" data-choice-selectable="">Custom</div></div></div></div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </main>
    </div>
  </div>

</div>
