<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/flagged/photo-1559717865-a99cac1c95d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2371&q=80);">
  <h1>HAPPY TOURS</h1>
  <p>Reconnect to your world with us!</p>
</div>

<div class="container position absolute">
  <div class="row">
    <div class="col-8">
      <h1>Top Attractions in Dubai</h1>
      <div class="cards">
        <% @tours.each do |tour| %>
          <%= link_to tour do %>
            <div class="card-category position relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528702748617-c64d49f918af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80); mx-3">
              <%= tour.title %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-8">
        <h2>Ways to tour Dubai</h2>
        <p>Book these experiences for a close-up look at Dubai</p>
      </div>
    </div>
  </div>

</div>
