.notice-header {
  margin-right: 20px;
  opacity: 25%;
  border: 1px solid black;
  display: flex;
  color: black;
  padding: 0.6rem !important;
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
  border-radius: 2px !important;
}

.notice-header p {
  padding: 0.6rem !important;
}
